@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .dark {
    --background: 0 0% 9%; /* Neutral-900 */
    --foreground: 60 9.1% 97.8%; /* Stone-50 */
    --secondary-foreground: 24 5.4% 63.9%; /* Stone-400 */
    --card: 0 0% 14%; /* Brighter card background */
    --card-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --primary: 215 27.9% 16.9%; /* Gray-800 */
    --primary-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --secondary: 258.3 89.5% 66.3%; /* Violet-500 */
    --secondary-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --muted: 24 5.4% 63.9%; /* Stone-400 */
    --muted-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --accent: 37.7 92.1% 50.2%; /* Amber-500 */
    --accent-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --destructive: 0 73.7% 41.8%; /* Red-700 */
    --destructive-foreground: 60 9.1% 97.8%; /* Stone-50 */
    --border: 215 27.9% 16.9%; /* Gray-800 */
    --input: 215 27.9% 16.9%; /* Gray-800 */
    --ring: 258.3 89.5% 66.3%; /* Violet-500 */
    --violet: 258.3 89.5% 66.3%; /* Violet-500 */
    --amber: 37.7 92.1% 50.2%; /* Amber-500 */
    --green: 141.9 69.2% 58%; /* Green-400 */
    --red: 0 73.7% 41.8%; /* Red-700 */
    --cyan: 187.9 85.7% 53.3%; /* Cyan-400 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
